@font-face {
    font-family: Font;
    src: url(./assets/Kanit/Kanit-Bold.ttf);
}

html {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-family: 'Font';
    scroll-behavior: smooth;
    background-color: rgb(5, 23, 30);
    color: #ffffff;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    gap: 40px;
}

body:has(dialog[open]) {
    overflow: hidden;
}

header {
    display: flex;
    justify-content: Center;
    background-color: rgb(10, 32, 41);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: rgb(5, 23, 30);
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(10, 32, 41);
    height: 100px;
    padding: 0px 10px;
}

td,
p {
    font-size: clamp(16px, 1rem, 20px);
    color: #ffffff;
    margin: 0;
}

h2 {
    font-size: clamp(20px, 1.3rem, 32px);

}

.content-header {
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.Logo-headliner {
    margin: 0;
    color: #fff;
}

.logo {
    height: 50px;
    width: fit-content;
}

.pokedex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between !important;
}

.contentlimit {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
}

.generation-control {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.generation-control select {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background-color: #fff;
    color: #333;
}

.generation-control label {
    font-weight: bold;
    color: aliceblue;
}

.loading-spinner {
    width: 250px;
    height: 250px;
}

.load-more-button {
    margin: 20px 0;
    padding: 19px 26px;

}

.button-78 {
    background-color: initial;
    border-style: none;
    color: #ffffff;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    line-height: 24px;
    position: relative;
    user-select: none;
    z-index: 0;
}

.button-78:before,
.button-78:after {
    border-radius: 80px;
}

.button-78:before {
    background-image: linear-gradient(92.83deg, #ff1c1c 0%, #b31212 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
}

.button-78:after {
    background-color: initial;
    background-image: linear-gradient(#3d0a0a 0%, #111111 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
}

.button-78:hover:not(:disabled):before {
    background: linear-gradient(92.83deg, #ff4d4d 0%, #ff1c1c 100%);
    box-shadow: 0 0 15px rgba(255, 28, 28, 0.4);
}

.button-78:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
    opacity: 0;
}

.button-78:active:not(:disabled) {
    color: #ccc;
}

.button-78:active:not(:disabled):before {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        linear-gradient(92.83deg, #ff1c1c 0%, #b31212 100%);
}

.button-78:active:not(:disabled):after {
    background-image: linear-gradient(#ff1c1c 0, #0c0d0d 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
}

.button-78:disabled {
    cursor: default;
    opacity: .24;
}

@media(max-width:900px) {

    html {
        font-size: 16px;
    }

    .content-header {
        flex-direction: column;
        height: fit-content;
        gap: 20px;
    }
}



/* HTML: <div class="loader"></div> */
.loader {
  height: 60px;
  aspect-ratio: 1;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}
.loader::after {
  background:
    radial-gradient(at 75% 15%,#fffb,#0000 35%),
    radial-gradient(at 80% 40%,#0000,#0008),
    radial-gradient(circle  5px,#fff 94%,#0000),
    radial-gradient(circle 10px,#000 94%,#0000),
    linear-gradient(#F93318 0 0) top   /100% calc(50% - 5px),
    linear-gradient(#fff    0 0) bottom/100% calc(50% - 5px)
    #000;
  background-repeat: no-repeat;
  animation: l20 1s infinite cubic-bezier(0.5,120,0.5,-120);
}
.loader::before {
  background:#ddd;
  filter: blur(8px);
  transform: scaleY(0.4) translate(-13px, 0px);
}
@keyframes l20 { 
 30%,70% {transform:rotate(0deg)}
 49.99%  {transform:rotate(0.2deg)}
 50%     {transform:rotate(-0.2deg)}
}