.pokemon-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}



.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: rgba(66, 108, 128, 0.897);
    padding: 10px;
    height: fit-content;
    border-radius: 10px;
    width: 200px;
    height: 260px;
}

.pokemon-card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pokemon-id {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    color: rgb(255, 255, 255);
    font-size: 0.5em;
}

.pokemon-name {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    text-transform: capitalize;
    flex: 0 0 auto;
    margin: 0;
    margin-left: auto;
}

.pokemon-image {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pokemon-types {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    font-size: 0.6em;
}

.pokemon-types img {
    height: 32px;
    width: auto;
}