.pokemon-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.pokemon-image {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    background-color: rgba(66, 108, 128, 0.897);
    padding: 20px;
    width: 20%;
    height: fit-content;
    border-radius: 10px;
}

.pokemon-name {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 0.5em;
}